*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

.container-general{
  width:90%;
  margin:0 auto;
  padding:100px;
}

body {
  background-color: rgb(18, 84, 128);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
